<!-- include header-->
<%- include('include/_header')%>
    <!-- include header-->
    <!-- main sect-->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex-justify-between">
                <a href="/add-user" class="border-shadow"><span text-gradient>All Users</span></a
      >
    </div>

    <!--Add Form-->
    <!--form handling-->
<form method="POST" id="update_user" class="row mb-3 align-items-center justify-content-center">
    <div class="card" style="width: 75%;">
        <img src="./ux-store-jJT2r2n7lYA-unsplash.jpg" class="card-img-top" alt="..." style="height: 20px;width: 100%;">
        <div class="card-body">
            <h5 class="card-title">User Details</h5>
            <p class="card-text">Input User Information</p>

            <div class="row">
                <div class="col-md">
                    <div class="form-floating">
                        <input name="id" type="hidden" value="<%=user._id %>"/>
                        <input name="name" type="text" class="form-control border-0" id="floatingInputGrid" value="<%=user.name %>" />
                        <label for="floatingInputGrid">Name</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input name="email" type="email" class="form-control border-0" id="floatingInputGrid" value="<%=user.email %>" />
                        <label for="floatingInputGrid">Email address</label>
                    </div>
                </div>
            </div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>


            <div>
                <div class="btn secondary"></div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="Male" <%=user.gender=='Male' ? 'checked': '' %> />
                    <label class="form-check-label" for="inlineRadio1">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="Female" <%=user.gender=='Female' ? 'checked': '' %> />
                    <label class="form-check-label" for="inlineRadio2">Female</label>
                </div>
                <div class="form-check form-check-inline form-switch">
                    <input class="form-check-input" type="checkbox" id="actinaci" name="status" value="1" <%=user.status=='Active' ? 'checked': '' %> onclick="yesno('actinaci ','yesnos ');">
                    <label name="yesnos" id="yesnos" class="form-check-label" for="actinaci"><%=user.status=='Active' ? 'Active': 'Inactive' %></label>


                </div>
                <div class="">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>


            </form>
            <!--form handling-->
        </div>
    </main>
    <!-- main sect-->
    <!-- include footer-->
    <%-include('include/_footer')%>
        <!-- include footer-->